@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&family=STIX+Two+Math&display=swap');

.hhh{
    font-family: 'Playfair Display', serif;
}

.ghh{
    font-family: 'Crimson Text', serif;
}

.fss{
    font-size: small;
}

.fs{
    font-size: 1.1em;
}

.clk{
    cursor: pointer;
}

.clk:hover{
    cursor: pointer;
    color: green;
}

.msl{
    margin-left: 2.2rem;
}

.lnk{
    color: gray;
}

.lnk:hover{
    color: #198754;
}